<!DOCTYPE html>
<html>
  <head>
    <title>
      Movie Rating Web Page
    </title>
  </head>
  <body>
    <div><h1>Vote For Your Best Movie</h1></div>
    <div style="display: flex;">
      <div style="margin: 10px; ">
        <h3 [hidden]="!isSelected(1)">Choosen!!!</h3>
        <img src="https://m.media-amazon.com/images/M/MV5BNjgwNzAzNjk1Nl5BMl5BanBnXkFtZTgwMzQ2NjI1OTE@._V1_QL75_UX380_CR0,0,380,562_.jpg" height="70%" width="100%">
      <div><button [disabled]="!anySelected(1)" (click)="select($event,1)">Vote</button></div>
      </div>
      <div style="margin: 10px; ">
        <h3 [hidden]="!isSelected(2)">Choosen!!!</h3>
        <img src="https://m.media-amazon.com/images/M/MV5BMTg1MTY2MjYzNV5BMl5BanBnXkFtZTgwMTc4NTMwNDI@._V1_QL75_UX380_CR0,0,380,562_.jpg" height="70%" width="100%">
        <div><button [disabled]="!anySelected(2)" (click)="select($event,2)">Vote</button></div>
      </div>
      <div style="margin: 10px; ">
        <h3 [hidden]="!isSelected(3)">Choosen!!!</h3>
        <img src="https://m.media-amazon.com/images/M/MV5BMjMyNDkzMzI1OF5BMl5BanBnXkFtZTgwODcxODg5MjI@._V1_QL75_UX380_CR0,0,380,562_.jpg" height="70%" width="100%">
        <div><button [disabled]="!anySelected(3)" (click)="select($event,3)">Vote</button></div>
      </div>
      <div style="margin: 10px; ">
        <h3 [hidden]="!isSelected(4)">Choosen!!!</h3>
        <img src="https://m.media-amazon.com/images/M/MV5BMjQ0MTgyNjAxMV5BMl5BanBnXkFtZTgwNjUzMDkyODE@._V1_QL75_UX380_CR0,0,380,562_.jpg" height="70%" width="100%">
        <div><button [disabled]="!anySelected(4)" (click)="select($event,4)">Vote</button></div>
      </div>
    </div>
  </body>
</html>